.App {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  height: 90vh;
  justify-content: center;
  text-align: center;
}

.uppercon{
  height: 200;
  background: rgb(0, 0, 0);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.name{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space:nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.8s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
